@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

@layer components {
  .input-btn {
    @apply border-[1px] border-[#D0D5DD] rounded p-[5px] placeholder:text-[14px] placeholder:text-[#667085] 
    bg-[#fff] outline-none px-3 py-[10px] focus:border-[1px] focus:border-[#84CAFF];
  }

  .modal-tag {
    @apply bg-[#fff] text-[#1570EF] py-1 px-3 rounded md:ml-8 hover:font-bold text-[12px];
  }

  .label-tag {
    @apply text-[#344054] text-[14px];
  }
}

textarea {
  resize: none;
}

.filter {
  color: black;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  background-color: #1018280d;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.filter:hover {
  color: black;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  background-color: #d0d5dd;
}

.images {
  transition: all 0.4s ease;
}

.images .camera {
  display: none;
  transition: all 0.4s ease;
}

.images:hover .camera {
  display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 12px;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
